.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 350px;
  margin-bottom: 60px;
  background: url(./img/top.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}


.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;

}

.site-name {
  margin-bottom: 60px;
  font-family: 'Playfair Display', serif;
}
.btn-black {
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Avenir', serif;
}
.btn-black:hover {
   background-color: #fff;
   color: #000;
}


.sns-button {
  position: absolute;
  bottom: 32px;
  left: 46px;
}

.l-button{
  display: inline;
  padding-right: 15px;
}

.l-button a{
  color: black; 
}

.contents {
  max-width: 990px;
  margin: 0 auto;
}
.content-primary,
.content-secondary {
  padding-left: 0;
  padding-right: 0;
}

.post-item-header #media-body {
  font-family: "Avenir", serif;
  vertical-align: middle;
}
.post-item-header .media-body .updated {
  margin-bottom: 0;
}
.post-item-header .media-body .updated .icon {
  margin: 0 10px;
  vertical-align: -1px;
}
.post-item-header {
  margin-bottom: 25px;

}
.post-item h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: "Playfair Display", serif;
}


.list-group-item img{
width:50%;

}


h3{
  text-align: center;
}
#skill{
  margin-bottom: 100px;
  margin-top: 100px;
}

.img-fluid{
  margin-bottom: 30px;
}

p,h4{
  color: #666;
}

#my-work{
  margin-bottom: 100px;
  margin-top: 100px;
}


.btn{
  border:1px solid #000;
  
}


.button{
  text-align: center;
}
